.mdc-bottom-navigation {
	height: 56px;
	background-color: #FFF;
	width: 100%;
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
	overflow: hidden;
    z-index: 11;
    position: absolute;
    bottom: 0;
}

.mdc-bottom-navigation__list {
	display: flex;
	justify-content: center;
	height: 100%;
}

.mdc-bottom-navigation__list-item {
	flex: 1 1 0;
	display: flex;
	opacity: 0;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0 12px;
	min-width: 60px;
	max-width: 168px;
	box-sizing: border-box;
	color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
	user-select: none;
}

.mdc-bottom-navigation__list-item__icon {
	padding-top: 8px;
	pointer-events: none;
	transition-property: padding-top, color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 100ms;
}

.mdc-bottom-navigation__list-item__icon path {
	fill: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}

.mdc-bottom-navigation__list-item__text {
	margin-top: auto;
	padding-bottom: 10px;
	font-size: 0.75rem;
	pointer-events: none;
	transition-property: font-size, color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 100ms;
}

.mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__icon {
	padding-top: 6px;
}

.mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__text {
	font-size: 0.875rem;
}

.mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__icon, .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__text {
	color: var(--mdc-theme-primary, #973572);
}

.mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__icon path, .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__text path {
	fill: var(--mdc-theme-primary, #973572);
}

.mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item {
	min-width: 56px;
	max-width: 96px;
	transition-property: min-width, max-width;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 100ms;
}

.mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item .mdc-bottom-navigation__list-item__icon {
	padding-top: 16px;
	transition-property: padding-top;
}

.mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item .mdc-bottom-navigation__list-item__text {
	position: absolute;
	line-height: 10px;
	bottom: 0;
	opacity: 0;
	transition-property: opacity, font-size;
}

.mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item--activated {
	min-width: 96px;
	max-width: 168px;
}

.mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__icon {
	padding-top: 8px;
	transition-property: padding-top;
}

.mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__text {
	white-space: nowrap;
	opacity: 1;
}